<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mibaldi.kidbeacon">

    <application
        android:name=".app.KidBeaconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Features.Auth.SocialAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeaconReferences.MonitoringActivity"
            android:label="@string/title_activity_monitoring"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BeaconReferences.RangingActivity" />
        <activity
            android:name=".Features.Groups.Activities.MainActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".Features.Groups.Activities.ListGroupsActivity" />
        <activity android:name=".Features.Groups.Activities.GroupSingleActivity" />
        <activity android:name=".Features.Groups.Activities.GroupSettingsActivity" />
        <activity android:name=".Features.Beacons.Activities.ListBeaconsActivity" />
        <activity android:name=".Features.Rastreator.Activities.ListBeaconsRastreatorActivity" />
        <activity android:name=".Features.Beacons.Activities.BeaconSettingsActivity"></activity>
    </application>

</manifest>